<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zheling.sup.query.mapper.DbfzcMapper">

	<resultMap type="java.util.Map" id="dbfzcMap" />

	<select id="callAstQueryDaibfq" parameterType="java.util.Map" statementType="CALLABLE">
		call AST_QUERY.DAIBFQ (
			#{orgid, mode=IN, jdbcType=VARCHAR},
			#{userid, mode=IN, jdbcType=VARCHAR},
			#{deptid, mode=IN, jdbcType=VARCHAR},
			#{roleid, mode=IN, jdbcType=VARCHAR},
			#{keyvalue, mode=IN, jdbcType=VARCHAR},
			#{condsql, mode=IN, jdbcType=VARCHAR},
			#{sortpart, mode=IN, jdbcType=VARCHAR},
			#{P_DS, mode=OUT, jdbcType=CURSOR, resultMap=dbfzcMap}
		)
	</select>

	<select id="callAstQueryDaibfmxq" parameterType="java.util.Map" statementType="CALLABLE">
		call AST_QUERY.DAIBFMXQ (
			#{orgid, mode=IN, jdbcType=VARCHAR},
			#{userid, mode=IN, jdbcType=VARCHAR},
			#{deptid, mode=IN, jdbcType=VARCHAR},
			#{roleid, mode=IN, jdbcType=VARCHAR},
			#{keyvalue, mode=IN, jdbcType=VARCHAR},
			#{condsql, mode=IN, jdbcType=VARCHAR},
			#{sortpart, mode=IN, jdbcType=VARCHAR},
			#{P_DS, mode=OUT, jdbcType=CURSOR, resultMap=dbfzcMap}
		)
	</select>

</mapper>