<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zheling.base.mapper.BdDeptMapper">

	<select id="selectByPrimaryKey" parameterType="java.lang.String" resultType="com.zheling.base.entity.BdDept">
		select RWID, OBJNAME, ORGID from BD_DEPT where RWID = #{rwid}
	</select>

	<select id="getCountByOrgid" parameterType="java.lang.String" resultType="int">
		select COUNT (RWID) from BD_DEPT where ORGID = #{orgid}
	</select>

	<select id="findTopDeptsByOrgid" parameterType="java.lang.String" resultType="com.zheling.base.entity.BdDept">
		select RWID, OBJNAME, PARENTID from BD_DEPT where ORGID = #{orgid} and PARENTID IS NULL
	</select>

	<select id="findDeptsByParentid" parameterType="java.lang.String" resultType="com.zheling.base.entity.BdDept">
		select RWID, OBJNAME, PARENTID from BD_DEPT where PARENTID = #{parentid}
	</select>

	<resultMap id="deptMap" type="java.util.Map" />

	<select id="callCoreGetdept" parameterType="java.util.Map" statementType="CALLABLE">
		call CORE_GETDEPT (
			#{orgid, mode=IN, jdbcType=VARCHAR},
			#{deptid, mode=IN, jdbcType=VARCHAR},
			#{userid, mode=IN, jdbcType=VARCHAR},
			#{roleid, mode=IN, jdbcType=VARCHAR},
			#{tmp, mode=IN, jdbcType=VARCHAR},
			#{P_DS, mode=OUT, jdbcType=CURSOR, resultMap=deptMap}
		)
	</select>

</mapper>