<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zheling.base.mapper.BdOrgMapper">

	<select id="selectByPrimaryKey" parameterType="java.lang.String" resultType="com.zheling.base.entity.BdOrg">
		select RWID, OBJNAME, PARENTID from BD_ORG where RWID = #{rwid}
	</select>

	<select id="getCountByParentid" parameterType="java.lang.String" resultType="int">
		select COUNT (RWID) from BD_ORG where PARENTID = #{parentid}
	</select>

	<select id="findOrgsByParentid" parameterType="java.lang.String" resultType="com.zheling.base.entity.BdOrg">
		select RWID, OBJNAME, PARENTID from BD_ORG where PARENTID = #{parentid}
	</select>

	<resultMap id="orgMap" type="java.util.Map" />

	<select id="callAstQueryOrgq" parameterType="java.util.Map" statementType="CALLABLE">
		call AST_QUERY.ORGQ (
			#{orgid, mode=IN, jdbcType=VARCHAR},
			#{P_DS, mode=OUT, jdbcType=CURSOR, resultMap=orgMap}
		)
	</select>

</mapper>