<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>公告信息</title>
		<link rel="stylesheet" href="../css/reset.css" />
		<link rel="stylesheet" href="../css/main_org.css" />
	</head>
	<body>
		<div class="container_gg">
			<div class="notice_m_header">
				<div class="notice_m_ys">验收公告</div>
				<div class="notive_m_fb">
					<div class="notice_m_fbz">发布者：张三</div>
					<div class="notice_m_fbsj">发布时间：2017-01-02</div>
				</div>
			</div>
		</div>
		<div class="notice_m_cont">
			<div class="container_gg">
				<div class="notice_m_info">
					<pre>
						你好：
							fdsfdsfds
					</pre>
				</div>
				<div class="notice_m_fj">
					<ul>
						<li><a href="fdrewrewrewrews.com/1.zip" download>附件1：公司战略发展</a></li>
						<li><a href="fdrewrewrewrews.com/1.zip" download>附件1：公司战略发展</a></li>
					</ul>
				</div>
			</div>
		</div>
	</body>
</html>